@font-face {
  font-family: 'brandonGrotesque';
  src: url('Brandon_med.otf');
}

.main-title {
    font-size: 70pt;
}

.sub-title {
    font-size: 24pt;
    font-family: 'brandonGrotesque', sans-serif;
    font-style: italic;
}

.page-header {
  margin: 40px 0 0;
}

.booking {
    padding: 30px;
    background-color:#7EC9CF;
    color:white;
}

.booking .btn  {
    width: 100%;
    background-color: #e99010;
    border: none;
}

.landingButton {
    background-color: #e99010;
    border: none;
    border-radius: 0;
    padding: 9px 30px;
}

.booking input, .booking select, .booking button {
    border-radius: 0;
}

.booking button, .landingButton {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.booking input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
}
.booking input::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
}
.booking input:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
}
.booking input:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
}


.booking label {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #393939;
}

div.col-lg-4 {
    margin-top: 25px;
    height: 90px;
    margin-left: 45px;
}

.project-thumbnail .overlay.pig-supp {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 18px;
    font-weight: bold;
    background: white;
    right: inherit;
}

.home projects form {
    display: none;
}

.gray-bg {
    background: #eee;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    padding-bottom: 80px;
    margin-top: -20px;
    padding-top: 20px;
}

.collapsed a {
    color: #FFFFFF;
    text-decoration: none;
}

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.m-progress-bar {
    min-height: 1em;
    background: #c12d2d;
    width: 5%;
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
    width: 16px;
    padding-left: 12px;
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {
    width: 230px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

#cata {
  margin-top: 10px;
}


#register {
  margin-top: 100px;
}

.clickable {
    cursor: pointer;
}

div.carousel.slide.col-lg-6 {
  background: white;
  height: 290px;
}

.label-label-warning {
    color: white;
}

#linea {
  height: 90px;
  background-color: lightgrey;
}

.display-3 {
  text-align: center;
}
h2.display-3 {
    margin-top: 0px;
}

div.col-lg-2 {
    margin-top: 25px;
}

body {
    font-family: 'Roboto', sans-serif;
}


.carousel-img {
   width: 535px;
   height: 356px;
  object-fit: fill;
}


div#jumbo {
    background-position: 50% 73%;
    color: white;
    text-shadow: true;
    margin-top: -20px;
    margin-bottom: inherit;
}

.row-fluid {
margin-left: auto;
margin-right: auto;
}

.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

a[ng-click] {
    cursor: pointer;
}

.guideline {
    padding: 10px 15px 15px 0;
    margin: 10px;
}

.guidelines {
    padding: 10px 15px 15px 0;
}

.green-bg {
    background-color: #59F771;
}

.comments-form {
    padding: 20px;
    background-color: #7fea7f;
    border: 1px solid #62C462;
    border-radius: 4px;
}

.comment {
    border: 1px #ddd solid;
    border-radius: 5px;
    padding: 10px;
}

.nested-comment-list {
    padding-left: 20px;
}

.comments-form textarea {
    width: 100%;
        padding: 10px;
    border-radius: 5px;
}

.new-project-modal .modal-lg {
    width: 1170px;
}

.new-project-modal .well {
    margin: 0;
}
.tab-content {
    padding: 20px;
    background: white;
}
.modal-title {
    position: relative;
    right: -15px;
}

.img-circle {
  width: 30px;
  height: 30px;

}
.form-inline {
    margin-top: 20px;
}
.navbar-brand>img.navbar-logo {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.news-img {
    width: 100%;
}
.main {
    border-style: solid;
    border-color: #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    padding: 35px 55px 55px;
}

.user-role {
    text-transform: capitalize;
}

.label {
    padding: 1px 3px 2px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.label-warning {
    font-weight: bold;
    color: black;
}

.label-danger {
    color: black;
}

p.well {
left: 0px;
}

.well {
    left: 0px;

}

.form-inline {
    margin-top: 10px;
    margin-bottom: 10px;
}

.elem {
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    padding: 10px;
}

hr{
    padding: 0px;
    margin: 5px;
  }

.liste {
    margin-top: 20px;
    padding: 0px;

}

.proj-updates .media {
    overflow: visible;
}

.proj-updates .media-left {
  position: relative;
}

.proj-updates .media:not(:last-child) .media-left::before {
    width: 1px;
    background: lightgrey;
    height: 60px;
    display: block;
    position: absolute;
    content: '';
    left: 30px;
    top: 32px;
    z-index: 1;
}

.proj-updates .media-body {
  vertical-align: middle;
}

.proj-update-date {
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    z-index: 2;
    position: relative;
}

.detail-bottom {
    margin-top: 40px;
}

div[uib-carousel] {
    margin-top: 20px;
}


.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-bottom: 22px;
    text-align: left;
}


.liste .media-object {
    padding-top: 30px;
}

.liste .media-right {
    padding-left: 100px;
}

.liste .media-right {
    padding-left: 100px;
    white-space: nowrap;
}

.liste.media-list {
    border: 1px #ddd solid;
    border-radius: 5px;
    padding-bottom: 22px;
}

.liste .media {
    margin-top: 0;
    padding: 20px;
}

.liste .media:not(:last-child) {
    border-bottom: 1px #ddd solid;
}

.unread {
    background-color: #eee;
}

.loginmodal-container, .signupmodal-container {
    padding: 30px;
    /*max-width: 350px;*/
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1, .signupmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
}

.signupmodal-container form {
    margin: 50px;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], .loginmodal-container input[type=password], .loginmodal-container input[type=email] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    border-radius: 4px;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, .loginmodal-container input[type=password]:hover, .loginmodal-container input[type=email]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-size: 17px;
    border-radius: 4px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help {
    font-size: 12px;
}

#status {
    margin-left: 5px;
}

.btn-xs {
    margin-bottom: 1px;
    width: 120px;
}

.btn-warning {
    color: white;
    background: #FF8000;
}

.btn-lg {
  padding: 18px 80px;
  border-radius: -10px;
}

.img.disc {
    height: 100px;
    width: 136px;
}

[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}


/* Hide the tooltip content by default */

[data-tooltip]:before, [data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}


/* Position tooltip above the element */

[data-tooltip]:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -80px;
    padding: 7px;
    width: 160px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
}


/* Triangle hack to make tooltip look like a speech bubble */

[data-tooltip]:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}


/* Show tooltip content on hover */

[data-tooltip]:hover:before, [data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

s .my-fluid-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.projectinfo {
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-bottom: 10px;
}

.project-card {
    background-color: #dff0f4;
    border: solid 1px #F1EEEA;
    border-radius: 8px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-top: 35px;
    position: relative;
    font-size: 12px;
    height: 440px;
    overflow: hidden;
}

.project-thumbnail img {
    width: 100%;
    object-fit: cover;
    height: 260px;
}

.card-block {
    padding: 10px;
}

.project-thumbnail .progress {
    height: 22px;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
}

.project-thumbnail .overlay {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 18px;
    font-weight: bold;
}

.overlay-funded {
    background-color: blue;
    color: white;
}

.overlay-completed {
    background-color: #62C462;
    color: black;
}

.overlay-pending {
    background-color: #efef43;
    color: #555;
}

.overlay-declined {
    background-color: red;
    color: white;
}

.overlay-needfunding {
    background-color: orange;
    color: black;
}

.overlay-closed {
    background-color: black;
    color: white;
}

.img-bg-become {
  display: block;
  position: relative;
  background-image: url('../img/become.jpg');
  height: 350px;
  background-size: cover;
}

#become-host-form {
  padding:-30px;
}


.img-bg {
  position: relative;
  background-color: #888;
  z-index: -2;
  padding: 0;
}

.img-bg::before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
}

.img-bg>div {
    padding: 50px;
}

.img-bg::before {
  background-image: url('../img/bg-image.png');
  /* Prefix free isn't picking up this one */
  -webkit-filter: url('#blur');
  filter: url('#blur');
  -webkit-filter: blur(7px);
  filter: blur(7px);
  background-size: cover;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

button.close {
    position: relative;
    z-index: 4000;
}

.progress-bar-success {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-image: none;
}
