.navbar-nav>li>a.profile-image {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-control {
    text-transform: capitalize;
}

.form-inline {
  margin-top: 20px;

}

.main {
    border-style: solid;
    border-color: #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 4px 4px;
    padding: 35px 55px 55px;
}

.elem {
	  border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    padding: 10px;
}

.liste{
	margin-top: 20px;
}


#filterSelect {
    width: 100px;
    text-align: right;
}

.media-object {
  padding-top: 30px;
}

.media-right {
    padding-left: 100px;
}

.media:not(:last-child) {
    border-bottom: 1px #ddd solid;
}
