.navbar-default {
	background-image: none;
	background-color: #62C462;
	color: white;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-nav .badge {
	font-size: 10px;
	background-color: #7c65c1;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    padding: 4px 6px;
    position: absolute;
    top: 50%;
    margin-left: 6px;
}