.navbar-default {
	background-image: none;
	background-color: #62C462;
	color: white;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-nav .badge {
	font-size: 10px;
	background-color: #7c65c1;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    padding: 4px 6px;
    position: absolute;
    top: 50%;
    margin-left: 6px;
}

.dropdown-menu.notification {
    padding: 0;
}

.dropdown-menu.notification a {
    padding: 9px 17px;
}

.dropdown-menu.notification .divider {
    margin: 0;
}

.newmsg {
    background-color: #90e4ea;
}

.dropdown-menu>li>a.newmsg:focus, .dropdown-menu>li>a.newmsg:hover {
    background-color: #7ec9cf;
    background-image: none;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
}