<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">FairBnB</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                  <a ui-sref="home">Home</a>
                </li>
                <li ng-if="!user.isAdmin()">
                  <a ui-sref="bookings">My Bookings</a>
                </li>
                <li ng-if="!user.isAdmin()">
                  <a ui-sref="project">My projects</a>
                </li>
                <li>
                  <a ui-sref="calendar">Calendar</a>
                </li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                    role="button" aria-haspopup="true" aria-expanded="false">
                        <span>
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            <b class="user-role">{{user.role}}</b>
                            ({{user.name}})
                        </span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">User roles</li>
                        <li ng-if="!user.isGuest()">
                            <a href="#" ng-click="user.switchRole()">Switch To
                                {{user.oppositeRole()}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <uib-tabset active="active">

          <uib-tab index="0" ng-if="!user.isGuest()">
              <uib-tab-heading>Coop discussions
                  <span class="badge">1</span>
              </uib-tab-heading>
              <discussion-list></discussion-list>
          </uib-tab>

          <uib-tab index="1">
            <uib-tab-heading>News & Announcements
                <span class="badge" ng-if='user.unread'>{{user.unread}}</span>
            </uib-tab-heading>
            <news-list></news-list>
        </uib-tab>


        <uib-tab index="2" ng-if="user.isAdmin()">
            <uib-tab-heading>
                <b>Review</b>
                Projects
                <span class="badge">1</span>
            </uib-tab-heading>
            Test
        </uib-tab>

        <uib-tab index="3" ng-if="user.isAdmin()">
            <uib-tab-heading>
                <b>Review</b>
                New Members
                <span class="badge">1</span>
            </uib-tab-heading>
            Test
        </uib-tab>
        <uib-tab index="4" ng-if="!user.isAdmin()">
            <uib-tab-heading>Explore Projects
                <span class="badge">5</span>
            </uib-tab-heading>

            <projects-list></projects-list>
        </uib-tab>

    </uib-tabset>
</div>
