<navbar></navbar>
<div class="container">
  <uib-tabset active="active">

    <uib-tab index="0">
      <uib-tab-heading>Projects</uib-tab-heading>
      <projects-list></projects-list>
    </uib-tab>

    <uib-tab index="1" ng-if="!user.isGuest()">
      <uib-tab-heading>Discussions</uib-tab-heading>
      <discussion-list></discussion-list>
    </uib-tab>

    <uib-tab index="2">
      <uib-tab-heading>News
        <span class="badge" ng-if='user.unread'>{{user.unread}}</span>
      </uib-tab-heading>
      <news-list></news-list>
    </uib-tab>

    <uib-tab index="3" ng-if="user.isAdmin()">
      <uib-tab-heading>
        <b>Review</b>
        Projects
        <span class="badge">1</span>
      </uib-tab-heading>
      <projects-list></projects-list>
    </uib-tab>

    <uib-tab index="4" ng-if="user.isAdmin()">
      <uib-tab-heading>
        <b>Review</b>
        New Members
        <span class="badge">1</span>
      </uib-tab-heading>
      <member-list></member-list>
    </uib-tab>
    <uib-tab index="5">
      <uib-tab-heading>My Projects</uib-tab-heading>
      <my-projects></my-projects>
    </uib-tab>
  </uib-tabset>
</div>
