<!-- Landing Page -->
<div id="jumbo" class="jumbotron jumbotron-fluid img-bg">
    <div class="row">
        <div style="margin-bottom:50px;" class="container container-fluid">

        </div>
    </div>
    <div class="row">
        <img style="margin-top:-90px; display: block; margin-left: auto; margin-right: auto; width:10%;" src="img/logo2.png" \="">
        <h1 class="display-3 main-title" style="color: white;">
            <b>fairbed</b>
        </h1>
        <h2 class="display-3 sub-title">Support local projects while traveling</h2>
    </div>

</div>
<div class="container-fluid booking">
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <label for="basic-url">Destination</label>    
            <input id="name" type="text" class="form-control" placeholder="Type destination here">
        </div>
        <div class="col-sm-2">
            <label for="basic-url">People</label>
            <select class="form-control">
                <option>1 person</option>
                <option>2 people</option>
                <option>3 people</option>
                <option>4 people</option>
                <option>5 people</option>
            </select>
        </div>
        <div class="col-sm-2">
            <label for="basic-url">From </label>
            <input id="name" type="text" class="form-control" placeholder="dd-mm-yyyy" aria-describedby="basic-addon3">
        </div>
        <div class="col-sm-2">
            <label for="basic-url">From </label>
            <input id="name" type="text" class="form-control" placeholder="dd-mm-yyyy" aria-describedby="basic-addon3">
        </div>
        <div class="col-sm-2">
            <button class="btn btn-primary">Search <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
        </div>
    </div>
</div>
<div class="container home">
    <h2 class="text-center">Recent Projects</h2>
    <projects></projects>
</div>

<!-- Modal -->
<script type="text/ng-template" id="login-modal.html">
    <div class="modal-body loginmodal-container" id="modal-body">
        <h1>Login</h1><br>
        <form ng-submit="formSubmit()">
            <input type="text" ng-model="username" name="user" placeholder="Username">
            <input type="password" ng-model="password" name="pass" placeholder="Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>
    </div>
</script>
<!-- End Modal -->

<!-- Register Modal -->
<script type="text/ng-template" id="signup-modal.html">
    <div class="modal-body signupmodal-container">
        <h1>Register to fairbed</h1><br>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Username*</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Password*</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Confirm password*</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <hr>

            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">First Name*</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Last Name*</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Email*</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Address</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Zip Code</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">City</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputPassword3" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-default pull-right">Register</button>
                </div>
            </div>
        </form>
    </script>
