<navbar></navbar>
  <div class="col-md-12 padding-0">
    <img src="img/home.jpg" />
  </div>

<!-- Modal -->
<script type="text/ng-template" id="login-modal.html">
    <div class="modal-body loginmodal-container" id="modal-body">
      <h1>Login</h1><br>
      <form ng-submit="formSubmit()">
        <input type="text" ng-model="username" name="user" placeholder="Username">
        <input type="password" ng-model="password" name="pass" placeholder="Password">
        <input type="submit" name="login" class="login loginmodal-submit" value="Login">
      </form>

      <div class="login-help">
        <a class="btn">Register</a> - <a class="btn">Forgot Password</a>
      </div>
    </div>
</script>
<!-- End Modal -->

<!-- Register Modal -->
<script type="text/ng-template" id="signup-modal.html">
  <div class="modal-body signupmodal-container">
    <h1>Register to Fairbnb</h1><br>
    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Username*</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputEmail3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Password*</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Confirm password*</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <hr>

      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">First Name*</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Last Name*</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Email*</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">Zip Code</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-3 control-label">City</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputPassword3" placeholder="">
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-default pull-right">Register</button>
        </div>
      </div>
    </form>
</script>
