<!-- form-payment.html -->
<div class="row">
    <div class="col-md-12" style="text-align:center;">
        <h4>Description</h4><hr><br>
            {{$ctrl.host.description.text}}
        </div>
    </div>
    <br>
    <div class="col-md-12" style="text-align:center;">
        <h4>Pictures</h4><hr><br>
        </div>

        <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div>
    <div uib-carousel active="active" no-wrap="noWrapSlides">
        <div uib-slide ng-repeat="pic in $ctrl.host.description.images track by pic.id" index="pic.id">
            <img class="carousel-img" ng-src="{{pic.src}}" style="margin:auto;">
        </div>
    </div>
</div>

<div>
    <div class="text-center">
        <h3>Is the content appropriate?</h3>
        <button class="btn btn-success" type="button" ui-sref="home.reviewhosts.list" ng-click="formData.description.decision = true; $ctrl.host.status='waiting'">Yes</button>
        <button class="btn btn-danger" type="button" ng-click="formData.description.decision = false">No</button>
    </div>
    <div ng-if="formData.description.decision === false">
        <h4>Why?</h4>
        <textarea style="width:100%" class="form-control" rows="3" ng-model='formData.description.cause'></textarea>
        <button class="btn btn-success pull-right" ng-click="$ctrl.host.status='waiting'" type="button" ui-sref="home.reviewhosts.list">Submit</button>
    </div>
</div>
