<div>
    <p>
        <button ng-click="back()" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
        </button>
    </p>
    <div class="row">
        <div class="col-sm-6">
            <h1>{{project.title}}</h1>
            <p>by {{project.author}}</p>
            <p>
                {{project.description}}
            </p>
            <br>
            <div>
                <uib-progressbar class="progress-striped" max="project.costs" value="project.totdonated" type="success">
                    <i>{{project.totdonated}} € /{{project.costs}} €</i>
                </uib-progressbar>
            </div>
            <p>
                <button type="button" ng-click="support(project)" class="btn btn-success pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">
                    <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                    Support
                </button>
            </p>
        </div>
        <div class="col-sm-6 text-right">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="pic in project.pictures track by pic.id" index="pic.id">
                    <img class="carousel-img" ng-src="{{pic.src}}" style="margin:auto;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row detail-bottom">
    <ul class="media-list liste">
        <li class="media" ng-repeat="comment in project.comments">
            <div class="media-left">
                    <img style="width: 50px; height:50px; margin-top:11px;" class="img-circle" ng-src="{{comment.img}}">
            </div>
            <div class="media-body media-middle">
              <b>{{comment.author}}</b>
              <span style="color: lightgray;">- {{comment.time}}</span> <br>
                {{comment.body}}
            </div>
        </li>
    </ul>
    <form class="comments-form clearfix">
        <textarea rows="5" placeholder="Comment"></textarea>
        <button type="button" data-tooltip="Support financially!" class="btn btn-success pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">
            Send
        </button>
    </form>
</div>

<script type="text/ng-template" id="support-modal.html">
    <div class="modal-header modal-header-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title" id="myModalLabel">
            <img alt="logo" src="img/logo2.png" style="height:25px; width:27px;">
            <b>Support Project</b>
        </h3>
    </div>

    <div class="modal-body">

        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img ng-src="{{project.image}}" style="height: 140px; width: 140px; margin-top:-26px;" class="media-object">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    <b>{{project.title}}</b>
                </h4>
                {{project.description}}
            </div><br>

            <!-- row -->

            <div class="row">
                <div class="col-md-6">
                  <b>How much would you like to support? </b><br><br>

                    <div class="input-group">
                        <span class="input-group-addon">€</span>
                        <input type="text" ng-value="{{user.funds}}" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-addon">.00</span>
                    </div>

                </div>
                <div class="col-md-6">
                    <b>Your contribution will have a nice impact!</b><br><br>
                    <div class="progress">
                        <div>

                            <uib-progressbar class="progress-striped" max="project.costs" value="project.totdonated" type="success">
                                <i>
                                    <b>{{project.totdonated+user.funds}} € (+{{user.funds}})
                                        -
                                        Targeted : {{project.costs}} €</b>
                                </i>
                            </uib-progressbar>
                        </div>
                        <span class="sr-only">45% Complete</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- row -->
    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
        <b>Close</b>
    </button>
    <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">
        <b>Support</b>
    </button>
</div>
</script>
