<div>
    <p>
        <button ui-sref="home.reviewproj.list" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
        </button>
    </p>
    <div class="row">
        <div class="col-sm-6">
          <div>
            <h2>{{$ctrl.project.title}}</h2>
            <p><b>by</b> {{$ctrl.project.author}}</p>
            <p>{{$ctrl.project.body}}</p>
            <br>
          </div>
            <h2>Budget Breakdown</h2>
            <table class="table table-hover" >
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="breakdow in $ctrl.project.breakdown">
                        <td>€ {{breakdow.amount}}</td>
                        <td>€ {{breakdow.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6 text-right">
            <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
                <div uib-slide ng-repeat="pic in $ctrl.project.pictures track by pic.id" index="pic.id">
                    <img class="carousel-img" ng-src="{{pic.src}}" style="margin:auto;">
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <div id="form-container">

                <div class="page-header text-center">
                    <h2>Review</h2>
                    
                    <!-- the links to our nested states using relative paths -->
                    <!-- add the active class if the state matches our ui-sref -->
                    <div id="status-buttons" class="text-center">  
                        <a ui-sref-active="active" ui-sref=".location"><span ng-class="{'bg-success': formData.location.decision, 'bg-danger': formData.location.decision===false}">1</span> Location</a>
                        <a ui-sref-active="active" ui-sref=".legality"><span ng-class="{'bg-success': formData.legality.decision, 'bg-danger': formData.legality.decision===false}">2</span> Legality</a>
                        <a ui-sref-active="active" ui-sref=".value"><span ng-class="{'bg-success': formData.value.decision, 'bg-danger': formData.value.decision===false}">3</span> Value</a>
                        <a ui-sref-active="active" ui-sref=".term"><span ng-class="{'bg-success': formData.term.decision, 'bg-danger': formData.term.decision===false}">4</span> Term</a>
                        <a ui-sref-active="active" ui-sref=".budget"><span ng-class="{'bg-success': formData.budget.decision, 'bg-danger': formData.budget.decision===false}">5</span> Budget</a>
                        <a ui-sref-active="active" ui-sref=".feasibility"><span ng-class="{'bg-success': formData.feasibility.decision, 'bg-danger': formData.feasibility.decision===false}">6</span> Feasibility</a>
                        <a ui-sref-active="active" ui-sref=".approvals"><span ng-class="{'bg-success': formData.approvals.decision, 'bg-danger': formData.approvals.decision===false}">7</span> Approvals</a>
                    </div>
                </div>
                
                <!-- use ng-submit to catch the form submission and use our Angular function -->
                <form id="become-host-form" ng-submit="processForm()">
                    <div id="form-views" class="form-horizontal" ui-view></div>
                </form>

            </div>

        </div>
    </div>
</div>

<div class="row detail-bottom">
    <h2 class="text-center">Discussion</h2>
    <ul class="media-list liste">
        <li class="media" ng-repeat="comment in $ctrl.project.comments">
            <div class="media-left">
                    <img style="width: 50px; height:50px; margin-top:11px;" class="img-circle" ng-src="{{comment.img}}">
            </div>
            <div class="media-body media-middle">
              <b>{{comment.author}}</b>
              <span style="color: lightgray;">- {{comment.time}}</span> <br>
                {{comment.body}}
            </div>
        </li>
    </ul>
    <form class="comments-form clearfix">
        <textarea rows="5" placeholder="Comment"></textarea>
        <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target=".bs-example-modal-lg">
            Send
        </button>
    </form>
</div>