<ul class="media-list liste">
	<li class="media" ng-repeat="project in $ctrl.projects | filter:$ctrl.query">
		<div class="media-left">

				<img ng-src="{{project.image}}" style="height: 80px; width: 120px; margin-top:11px;">
		</div>
		<div class="media-body">
			<div class="media-heading">
				<h4 ><b>{{project.title}}</b></h4>
			</div>
			{{project.body}}
		</div>
		<div class="media-right media-middle">
			<button type="button" ng-click="$ctrl.openDetail(project);" class="btn btn-primary">
				<b>View Project</b></button>

		</div>
	</li>
</ul>
