<ul class="media-list liste">
    <li class="media" ng-repeat="project in $ctrl.projects | filter:$ctrl.query">
        <div class="media-left">

            <img ng-src="{{project.image}}" style="height: 100px; width: 136px; margin-top:11px;">
        </div>
        <div class="media-body">
            <div class="media-heading">
                <h4 >
                    <b>{{project.title}}</b>
                </h4>
                <div class="projectinfo">
                    <b>Total Costs:
                    </b>
                    <span class="label label-primary">{{project.costs}}
                        €</span>
                    <b>Total Donated:
                    </b>
                    <span class="label label-warning">{{project.totdonated}}
                        €</span>
                    <b>Duration:
                    </b>
                    <span class="label label-primary">{{project.duration}}</span>
                    Months</div>
            </div>{{project.body}}</div>

        <div class="media-right media-middle">
            <div>
                <uib-progressbar class="progress-striped" max="project.costs" value="project.totdonated" type="success">
                    <i>{{project.totdonated}} € /{{project.costs}} €</i>
                </uib-progressbar>
            </div>

            <button type="button" ng-click="openSupport(project)" data-tooltip="Support financially!" class="btn btn-success btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                <b>Support</b>
            </button>

            <button type="button" class="btn btn-primary btn-xs">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                <b>Discuss !</b>
            </button><br>
        </div>
    </li>
</ul>

<!-- Modal -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">
                    <img alt="logo" src="img/logo2.png" style="height:25px; width:27px;">
                    <b>Support Project</b>
                </h3>
            </div>

            <div class="modal-body">

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img ng-src="{{currentProject.image}}" style="height: 140px; width: 140px; margin-top:-26px;" class="media-object">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <b>{{currentProject.title}}</b>
                        </h4>
                        {{currentProject.body}}
                    </div><br>

                    <!-- row -->

                    <div class="row">
                        <div class="col-md-6">
                          <b>How much would you like to support? </b><br><br>

                            <div class="input-group">
                                <span class="input-group-addon">€</span>
                                <input type="text" ng-value="{{user.funds}}" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon">.00</span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <b>Your contribution will have a nice impact!</b><br><br>
                            <div class="progress">
                                <div>

                                    <uib-progressbar class="progress-striped" max="currentProject.costs" value="currentProject.totdonated" type="success">
                                        <i>
                                            <b>{{currentProject.totdonated+user.funds}} € (+{{user.funds}})
                                                -
                                                Targeted : {{currentProject.costs}} €</b>
                                        </i>
                                    </uib-progressbar>
                                </div>
                                <span class="sr-only">45% Complete</span>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- row -->
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                <b>Close</b>
            </button>
            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">
                <b>Support</b>
            </button>
        </div>
      </div>
    </div>

</div>
