<div class="row">
    <div ng-repeat="project in $ctrl.projects | filter:filters" class="col-md-4">
        <div ng-click="$ctrl.openDetail(project);" class="project-card clickable">
          <div class="project-thumbnail">
            <img class="card-img-top" ng-src="{{project.image}}" alt="Card image cap">
            <uib-progressbar animate="false" max="project.costs" value="project.totdonated" type="success">
                 {{project.totdonated}}€/{{project.costs}}€</uib-progressbar>
          </div>
          <div class="card-block">
            <h4 class="card-title">{{project.title}}</h4>
            <h6 class="card-title">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                {{project.location}}
            </h6>
            <p class="card-text">{{project.body}}</p>
          </div>
        </div>
    </div>
</div>

<!--
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">
                    <img alt="logo" src="img/logo2.png" style="height:25px; width:27px;">
                    <b>Support Project</b>
                </h3>
            </div>

            <div class="modal-body">

                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img ng-src="{{currentProject.image}}" style="height: 140px; width: 140px; margin-top:-26px;" class="media-object">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <b>{{currentProject.title}}</b>
                        </h4>
                        {{currentProject.body}}
                    </div><br>


                    <div class="row">
                        <div class="col-md-6">
                          <b>How much would you like to support? </b><br><br>

                            <div class="input-group">
                                <span class="input-group-addon">€</span>
                                <input type="text" ng-value="{{user.funds}}" class="form-control" aria-label="Amount (to the nearest dollar)">
                                <span class="input-group-addon">.00</span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <b>Your contribution will have a nice impact!</b><br><br>
                            <div class="progress">
                                <div>

                                    <uib-progressbar class="progress-striped" max="currentProject.costs" value="currentProject.totdonated" type="success">
                                        <i>
                                            <b>{{currentProject.totdonated+user.funds}} € (+{{user.funds}})
                                                -
                                                Targeted : {{currentProject.costs}} €</b>
                                        </i>
                                    </uib-progressbar>
                                </div>
                                <span class="sr-only">45% Complete</span>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                <b>Close</b>
            </button>
            <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">
                <b>Support</b>
            </button>
        </div>
      </div>
    </div>

</div>
 -->
