<form class="form-inline">
	<label for="filterSelect">Filter:</label>
	<select ng-model="$ctrl.query" id="filterSelect" class="form-control">
	  <option value="">All</option>
	  <option value="coop">Coop</option>
	  <option value="general">General</option>
	</select>
</form>

<ul class="media-list liste">
	<li class="media" ng-repeat="discussion in $ctrl.discussions | filter:$ctrl.query">
	  <div class="media-left">
	    <a href="#">
	    	<img ng-src="{{discussion.image}}">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">
				{{discussion.title}}</h4>
	   	{{discussion.body}}
	  </div>
	  <div class="media-right">
	  </div>
	</li>
</ul>
