<form class="form-inline clearfix">
	<span class="pull-right">
		<label for="filterSelect">Filter </label>
		<select ng-model="$ctrl.query" id="filterSelect" class="form-control">
		  <option value="">All</option>
		  <option ng-repeat="cat in $ctrl.categories" value="{{cat}}">{{cat}}</option>
		</select>
	</span>
</form>

<ul class="media-list liste">
	<li class="media" ng-repeat="discussion in $ctrl.discussions | filter:$ctrl.query">
	  <div class="media-body">
	    <h4 class="media-heading">
				{{discussion.title}}</h4>
	   	{{discussion.body}}
	  </div>
	  <div class="media-right">
	  	<div>3 reactions</div>
	  	<button  type="button" class="btn btn-primary">Discuss</button>
	  </div>
	</li>
</ul>
