<form class="form-inline clearfix">
	<button type="button" class="btn btn-primary" ng-click="createDiscussion();">
        Create Discussion
	</button>
	<span class="pull-right">
		<label for="filterSelect">Filter </label>
		<select ng-model="$ctrl.query" id="filterSelect" class="form-control">
		  <option value="">All</option>
		  <option ng-repeat="cat in $ctrl.categories" value="{{cat}}">{{cat}}</option>
		</select>
	</span>
</form>

<ul class="list-group" ng-repeat="discussion in $ctrl.discussions | filter:$ctrl.query">
  <li class="list-group-item">
		<div class="project-thumbnail">
			<div class="overlay overlay-closed" ng-if="discussion.status=='closed'">
				<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
			</div>
		</div>Title: <b>{{discussion.title}}</b><br>
		<hr>
	Subject: {{discussion.body}}
</li>
</ul>
