<form class="form-inline clearfix">
	<button type="button" class="btn btn-primary" data-toggle="modal"
        		data-target="#createDiscussionModal" id="bottoneModale">
        Create Discussion
	</button>
	<span class="pull-right">
		<label for="filterSelect">Filter </label>
		<select ng-model="$ctrl.query" id="filterSelect" class="form-control">
		  <option value="">All</option>
		  <option ng-repeat="cat in $ctrl.categories" value="{{cat}}">{{cat}}</option>
		</select>
	</span>
</form>

<ul class="media-list liste">
	<li class="media clickable" ng-repeat="discussion in $ctrl.discussions | filter:$ctrl.query">
	  <div class="media-body">
	    <h4 ><b>{{discussion.title}}</b></h4>
	   	{{discussion.body}}
	  </div>
	  <div class="media-right media-middle">
	  	<p>3 reactions</p>
	  	<!-- <p><button  type="button" class="btn btn-primary">Discuss</button></p> -->
	  </div>
	</li>
</ul>


<div class="modal fade" id="createDiscussionModal" tabindex="-1" role="dialog" aria-labelledby="createDiscussionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="createDiscussionModalLabel">
                    Create New Discussion
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputTitle">Title</label>
                        <div class="col-sm-9">
                            <input type="textarea" class="form-control" id="inputEmail3" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputAnnoucement">Description</label>
                        <div class="col-sm-9">
                        	<textarea id="txtArea" rows="8" class="form-control" placeholder="Type description here"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="sel1">Discussion Type</label>
                      	<div class="col-sm-9">
	                      	<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Open discussion
							</label>
							<label class="radio-inline">
							  <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Closed discussion
							</label>
                      	</div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>
