<ul class="media-list nested-comment-list">
    <li class="media" style="margin-top: 0" ng-repeat="cmt in $ctrl.comments">
    	<div class="comment">
	        <div class="media-left">
	                <img style="width: 50px; height:50px; margin-top:11px;" class="img-circle" ng-src="{{cmt.usr_img}}">
	        </div>
	        <div class="media-body media-middle">
	          <b>{{cmt.username}}</b>
	          <span style="color: lightgray;">- {{cmt.time}}</span> <br>
	            {{cmt.body}}
	        </div>
	        <div class="media-right media-middle" style="white-space: nowrap">
	        	<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> {{cmt.likes}}
	        </div>
	        <a ng-if="cmt.comments.length > 0" style="margin: 50%" role="button" data-toggle="collapse" data-target="#collapseExample{{cmt.id}}" aria-expanded="false" aria-controls="collapseExample">
			  	{{cmt.comments.length}} comments <span class="caret"></span>
			</a>
    	</div>
		<div class="collapse" id="collapseExample{{cmt.id}}">
       	 	<sub-comment-list comments="cmt.comments"></sub-comment-list>
		</div>
    </li>
</ul>