<div class="text-center">
    <p>Does it follow the guideline:</p>
    <div id="form-views" class="form-horizontal">
        Projects supported by Fairbed (Amsterdam) must be for the benefit of local cooperative community of Fairbed Amsterdam 
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="button" ui-sref="^.budget" ng-click="formData.term.decision = true">Yes</button>
        <button class="btn btn-danger" type="button" ng-click="formData.term.decision = false">No</button>
    </div>
    <div ng-if="formData.term.decision === false">
        <h4>Why?</h4>
        <textarea style="width:100%" class="form-control" rows="3" ng-model='formData.term.cause'></textarea>
        <button class="btn btn-success pull-right" type="button" ui-sref="^.budget">Submit</button>
    </div>
</div>