<div class="text-center">
    <p>Does it follow the guideline:</p>
    <div id="form-views" class="form-horizontal">
         If the projects are to concern property owners (municipality, land owners, etc), prior approvals must be obtained from these stakeholders before proposal submission

    </div>
    <div class="text-center">
        <button class="btn btn-success" type="button" ui-sref="^.completed" ng-click="formData.approvals.decision = true">Yes</button>
        <button class="btn btn-danger" type="button" ng-click="formData.approvals.decision = false">No</button>
    </div>
    <div ng-if="formData.approvals.decision === false">
        <h4>Why?</h4>
        <textarea style="width:100%" class="form-control" rows="3" ng-model='formData.approvals.cause'></textarea>
        <button class="btn btn-success pull-right" ui-sref="^.completed">Submit</button>
    </div>
</div>