<div class="text-center">
    <p>Does it follow the guideline:</p>
    <div id="form-views" class="form-horizontal">
         Projects proposed must not be breaking any local rulings that are set by local municipality or any of the overarching EU laws
    <div class="text-center">
        <button class="btn btn-success" type="button" ui-sref="^.approvals" ng-click="formData.feasibility.decision = true">Yes</button>
        <button class="btn btn-danger" type="button" ng-click="formData.feasibility.decision = false">No</button>
    </div>
    <div ng-if="formData.feasibility.decision === false">
        <h4>Why?</h4>
        <textarea style="width:100%" class="form-control" rows="3" ng-model='formData.feasibility.cause'></textarea>
        <button class="btn btn-success pull-right" type="button" ui-sref="^.approvals">Submit</button>
    </div>
</div>