<div class="text-center">
    <p>Does it follow the guideline:</p>
    <div id="form-views" class="form-horizontal">
        The overall business value / social benefits of the proposal must be more than the actual costs of the projects
    </div>
    <div class="text-center">
        <button class="btn btn-success" type="button" ui-sref="^.term" ng-click="formData.value.decision = true">Yes</button>
        <button class="btn btn-danger" type="button" ng-click="formData.value.decision = false">No</button>
    </div>
    <div ng-if="formData.value.decision === false">
        <h4>Why?</h4>
        <textarea style="width:100%" class="form-control" rows="3" ng-model='formData.value.cause'></textarea>
        <button class="btn btn-success pull-right" type="button" ui-sref="^.term">Submit</button>
    </div>