<nav class="navbar navbar-default" ng-if="user.isAuth">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="login">
                <img alt="Brand" class="navbar-logo" src="img/logo.png">
                <b>fairbed</b>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">

                <li ng-if="!user.isGuest()">
                    <a class="btn">My House</a>
                </li>
                <li ng-if="user.isGuest()">
                    <a ui-sref="become">Become a Host</a>
                </li>
                <li>
                    <a class="btn">Travel</a>
                </li>
                <li>
                    <a ui-sref="home.projects" class="btn">Community</a>
                </li>

            </ul>


            <ul class="nav navbar-nav navbar-right">

              <li>
                  <a class="funds">
                    <b><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"> </span>
                       €{{user.funds}}
                  </b></a>
              </li>


                <li class="dropdown">
                    <a class='dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        <span class="badge">1</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a ui-sref="home">You received a message</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a ui-sref="home">Your project has been accepted</a>
                        </li>
                    </ul>

                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle profile-image" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img ng-src="{{user.image}}" class="img-circle">
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header">{{user.role}} : {{user.name}}</li>
                        <li>
                            <a ui-sref="home">Update Profile</a>
                        </li>
                        <li role="separator" class="divider"></li>

                        <li>
                            <a ng-click="logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default" ng-if="!user.isAuth">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="login">
                <img alt="Brand" class="navbar-logo" src="img/logo.png">
                fairbed
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn" ng-click="signup()">Sign Up</a>
                </li>
                <li>
                    <a class="btn" ng-click="login()">Log in</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
