<form class="form-inline clearfix">
	<button ng-if="$ctrl.user.isAdmin()" type="button" class="btn btn-primary" data-toggle="modal"
        		data-target="#myModal" id="bottoneModale">
        Add News Annoucement
	</button>
	<span class="pull-right">
		<label for="filterSelect">Filter:</label>
		<select ng-model="$ctrl.query" id="filterSelect" class="form-control">
		  <option value="">All</option>
		  <option ng-repeat="cat in $ctrl.categories" value="{{cat}}">{{cat}}</option>
		</select>
	</span>
</form>

<ul class="media-list liste">
	<li class="media" ng-repeat="new in $ctrl.news | filter:$ctrl.query">
	  <div class="media-left">
	    <a href="#">
	    	<img ng-src="{{new.image}}">
	    </a>
	  </div>
	  <div class="media-body">
	    <h4 class="media-heading">{{new.title}}</h4>
			{{new.body}}
	  </div>
		<span class="label label-primary">{{new.type}}</span>

	</li>
</ul>
