<div ng-if="!newsOpened">
<form class="form-inline clearfix">
	<button ng-if="$ctrl.user.isAdmin()" type="button" class="btn btn-primary" data-toggle="modal"
        		data-target="#myModal" id="bottoneModale">
        Add News Annoucement
	</button>
	<span class="pull-right">
		<label for="filterSelect">Filter</label>
		<select ng-model="$ctrl.query" id="filterSelect" class="form-control">
		  <option value="">All</option>
		  <option ng-repeat="cat in $ctrl.categories" value="{{cat}}">{{cat}}</option>
		</select>
	</span>
</form>

<ul class="media-list liste">
	<li class="media" ng-class="{unread: !new.read}" ng-repeat="new in $ctrl.news | filter:{type: $ctrl.query} | orderBy:['read','date']">
		<div class="media-left">
			<a href="#">
				<img ng-src="{{new.image}}" style="height: 100px; width: 136px;">
			</a>
		</div>
		<div class="media-body">
			<h4 ><b>{{new.title}}</b></h4>
			{{new.body}}
		</div>
		<div class="media-right">
			<p><span class="label label-primary">{{new.type}}</span></p>
            <button ng-click="openNews(new)" type="button" class="btn btn-primary">Read More</button>
		</div>
	</li>
</ul>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Add New Annoucement
                </h4>
            </div>
            <!-- Modal Body -->
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputTitle">Title</label>
                        <div class="col-sm-9">
                            <input type="textarea" class="form-control" id="inputEmail3" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="inputAnnoucement">Announcement</label>
                        <div class="col-sm-9">
                        	<textarea id="txtArea" rows="8" class="form-control" placeholder="Write here your annoucement..."></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="sel1">Type of Annoucement</label>
                        <div class="col-sm-9">

                        <select class="form-control" id="audience">
                            <option>Coop</option>
                            <option>General</option>
                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label" for="sel1">Who can see the announcement</label>
                      <div class="col-sm-9">
                        <div class="checkbox">
                        	<label><input type="checkbox" value="all"> All </label>
                        </div>
                        <div class="checkbox">
                        	<label><input type="checkbox" value="coopStaff">Coop Staff</label>
                        </div>
                        <div class="checkbox">
                        	<label><input type="checkbox" value="coopStaff">Hosts</label>
                        </div>
                        <div class="checkbox">
                        	<label><input type="checkbox" value="coopStaff">Community Members</label>
                        </div>


                      </div>
                    </div>
                </form>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">
                    Publish
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<div ng-if="newsOpened">
    <p>
        <button ng-click="closeNews()" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
        </button>
    </p>
    <div>
        <div class="col-sm-3">
            <a href="#">
                <img class="news-img" ng-src="{{currentNews.image}}">
            </a>
        </div>
        <div class="col-sm-9">
            <h4 class="media-heading">{{currentNews.title}}</h4>
            {{currentNews.body}}
        </div>
    </div>

</div>